.cd {
  white-space: nowrap;
  color: #444;
  text-align: right;
}

.cd.next {
  color: #b33;
  font-weight: bold;
}

.cy {
 padding-right: 0.6em;
 color: #666;
}

.cdt {
  margin-left: 0.8em;
  font-size: 13px;
  overflow: hidden;
  transition: max-height 0.3s, opacity 0.3s, margin-top 0.3s;
  margin-top: 0;
  max-height: 0;
  opacity: 0;
}

.cdt.show {
  margin-top: 5px;
  max-height: 150px;
  opacity: 1;
}

.cdt.show.masked {
  transition: none;
}

tr {
  vertical-align: top;
}

