/*@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
 src: url('/font/g400.woff2') format('woff2'),
       url('/font/l400.woff')  format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/font/g400i.woff2') format('woff2'),
       url('/font/l400i.woff')  format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/font/g700.woff2') format('woff2'),
       url('/font/l700.woff')  format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('/font/g700i.woff2') format('woff2'),
       url('/font/l700i.woff')  format('woff');
}*/

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  -webkit-text-size-adjust: 100%;
}

a {
  outline: 0;
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

b {
  color: #222;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 0.4em 0;
  color: #444;
}

h2 {
  font-size: 17px;
  margin: 15px 0 7px;
  font-weight: bold;
  color: #222;
}

h4 {
  font-weight: bold;
  margin: 0.7em 0 0.2em;
  color: #222;
}

ul {
  margin-top: 0.9em;
  margin-left: -1.7em;
  list-style-type:square;
}

li {
  padding-bottom: 10px;
}

pre {
  font-size: 10px;
}

#e {
  max-width: 500px;
  margin: 40px auto;
}

.ec {
  margin-bottom: 0.6em;
  color: #222;
}

.tel {
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
}

.v {
  font-size: 10px;
  color: #96B;
  border: 1px solid;
  padding: 1px 2px;
  background: none;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 0;
  line-height: 1;
}

.l {
  color: #855;
}

.k {
  color: #448;
}


.abs {
  padding: 0 10% 0 4%;
  font-size: 13px;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  opacity: 0;
}

.abs.show {
  opacity: 1;
  max-height: 400px;
}

/* Entry:Paper */

.ep{
  font-weight:bold;
}

.ep.noabs {
  text-decoration: none;
}

