@font-face {
  font-family: 'lt';
  src: url('../font/lt400.woff2') format('woff2'),
       url('../font/lt400.woff') format('woff'),
       url('../font/lt400.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lt';
  src: url('../font/lt400i.woff2') format('woff2'),
       url('../font/lt400i.woff') format('woff'),
       url('../font/lt400i.ttf') format('truetype');

  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'lt';
  src: url('../font/lt700.woff2') format('woff2'),
       url('../font/lt700.woff') format('woff'),
       url('../font/lt700.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'lt';
  src: url('../font/lt700i.woff2') format('woff2'),
       url('../font/lt700i.woff') format('woff'),
       url('../font/lt700i.ttf') format('truetype');

  font-weight: 700;
  font-style: italic;
}

