.mop {
}

.msup,
.msub {
  font-size: 75%;
  margin: 0 0.05em;
  vertical-align: baseline;
}

.msup {
  position: relative;
  top: -0.55em;
}
.msub {
  position: relative;
  bottom: -0.2em;
}

.msupsub {
  font-size: 75%;
  margin: 0 0.05em;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  bottom: 0.2em;
}

.mssup {
  font-size: 100%;
  vertical-align: top;
  line-height: 0.9;
}

.mssub {
  font-size:100%;
  vertical-align: baseline;
}

.mw {
  white-space: nowrap;
  line-height: 1;
}

.meq {
  font-size: 118%;
  transform:scale(1.45,1); 
  display:inline-block;
  position:relative;
  top: 0.1em;
}

.mto {
  display: inline-block;
  transform:scale(1.2,1); 
}

.min {
  vertical-align: baseline;
  font-size: 120%;
  margin: 0 -0.1em;
}

.mdiv{
  display: inline-block;
  transform: scale(1, 1.4);
  margin: 0 -0.15em;
}

.mmns {
  margin: 0 -0.15em;
}

.masx {
  font-size: 150%;
  position: relative;
  top: 0.34em;
}

.msl, .msr,
.mpl, .mpr,
.mal, .mar,
.mcl, .mcr {
  font-size: 118%;
  position: relative;
  top: 0.07em;
}

.msl {
  margin-right:-0.02em;
}

.msr {
  margin-left:-0.05em;
}

.mpl {
  margin: 0 0.02em;
}

.mpr {
  margin: 0 0.02em;
}

